.header {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE;
    height: 60px;
    box-shadow: 1px 5px 10px #CCC;
    margin-bottom: 20px;
    padding-left: 20px;
    .logo {
        font-size: 20px;
        border: 1px solid #333;
        width: 30px;
        height: 30px;
        border-radius: 25px;
        text-align: center;
    }
    .brand {
        font-size: 1.5rem;
    }
    .headerAccount {
        padding-right: 20px;
    }
}

.loanBody {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 50px;

    .inputOutline {
        border: 1px solid #EEE;
        border-radius: 5px;
        height: 30px;
        margin-top:10px;
        margin-bottom:10px;
    }

    .error {
        color: red;
        font-size: 12px;
        font-weight: bold;
    }
    
    input, select {
        padding: 5px;
        width: 225px;
        border: 1px solid #AAA;
        border-radius: 5px;
        height: 30px;
        margin-top:10px;
        margin-bottom:10px;
        color: #999;
        font-size: 15px;
    }
    select {
        height: 50px;
        padding-left: 5px;
    }
}